body {
  background-color: bisque;
}

.app {
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  #app-logo {
    animation: app-logo-spin infinite 10s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  background-color: #d0b7a0;
}

#top-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
}

#left-panel {
  position: absolute;
  top: 150px;
  left: 0;
  width: 200px;
  padding: 10px;
}

#content {
  position: absolute;
  top: 100px;
  left: 250px;
  width: 860px;
  padding: 20px;
}

#app-logo {
  width: 200px;
  height: 200px;
}
